{% if notes %}
    <h3 class="text-center">Моите бележки</h3>
    <div class="row">
        {% for note in notes %}
            <div class="col-lg-4" style="margin-top: 15px">
                <div class="card" style="width: 18rem;background: rgba(204, 204, 204, 0);border: none">
                    <div class="card-body">
                        <h3 class="text-center">{{ note.title }}</h3>
                        <div class="text-center">
                            <a href="{% url 'current note' note.id %}" class="btn btn-primary stretched-link">
                                Виж повече
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="mt-5 text-center">
        <h1>You have no notes</h1>
        <a href="{% url 'create note' %}" class="btn btn-success">Добави бележка</a>
    </div>
{% endif %}