{% extends 'common/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block site_custom_styles %}
    <link rel="stylesheet" href="{% static 'css/Post-Template.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/lessons-bg.css' %}" media="screen">
{% endblock %}
{% block site_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form class="w-50 m-auto" method="post"
                      style="border: 1px solid grey; margin: 10% 0%; padding: 10% 5%">
                    {% csrf_token %}
                    {% for field in form %}
                        {% bootstrap_field field %}
                    {% endfor %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Влез</button>
                    <div style="margin-top: 10px">
                        <span>или
                            <a href="{% url 'student_signup' %}" style="color:cornflowerblue; margin-left: 5px;">Регистрирай  се тук</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}