# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\django_projects\school_helper\backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
